// font //
$ff-main: 'Overpass', sans-serif;

// font size//
$fs-main: 2.5rem;
$fs-sub: 1.5rem;

// font weight//
$fw-400: 400;
$fw-700: 700;

// color //
$color-accent: hsl(25, 97%, 53%);
$color-main: hsl(0, 0%, 100%);
$color-sub: hsl(217, 12%, 63%);
$color-sub-m: hsl(216, 12%, 54%);
$color-bg: hsl(216, 12%, 8%); 
$color-bg-card: hsl(213, 19%, 18%);











